.cell {
  width: 15px;
  height: 15px;
  background-color: cornflowerblue;
  margin-left: 1px;
  display: inline-block;
}
.life-cell {
  background-color: crimson;
}

.scene {
  border: 1px solid blue;
}
