.cell {
  width: 15px;
  height: 15px;
  background-color: cornflowerblue;
  margin-right: 1px;
  display: inline-block;
  cursor: pointer;
}
.life-cell {
  background-color: crimson;
}

.scene {
  overflow-x: auto;
  overflow-y: auto;
  width: 800px;
  height: 500px;
}

.scene-wrap {
  width: 5000px;
}
.game-row {
  padding: 0px;
  margin: 0px;
  line-height: 1px;
  margin-bottom: 1px;

}
